html {
  /* background: linear-gradient(
    to right,
    #303030,
    #303030,
    #101010,
    #202020,
    #303030
  ); */
  background:rgb(27, 193, 171);
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-layer {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px groove rgb(12, 158, 150);
}

.waste-piles {
  display: flex;
}

.foundation-piles {
  display: flex;
}

.piles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 200px;
}

.pile-column {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
  border: 1px solid rgb(0,0,0);
  border-radius: 4%;
  margin-top: -100px;
  padding-top: 100px;
}

.waste-pile,
.faced-up-waste-pile {
  display: flex;
  justify-content: center;
  font-size: 160px;
  margin: 5px;
  height: 150px;
  width: 110px;
  border: 1px solid rgb(0,0,0);
  border-radius: 4%;
}

.foundation-pile {
  border-radius: 4%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  font-size: 160px;
  margin: 5px;
  height: 150px;
  width: 110px;
  border: 1px solid rgb(0,0,0);
}

.card {
  font-size: 160px;
  height: 150px;
  width: 120px;
  margin-top: -100px;
  background: whitesmoke;
  box-shadow: 0px 0px 3px 1px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4%;
  user-select: none;
  padding-bottom: 20px;
  cursor: pointer;
}

.foundation-pile-card,
.waste-pile-card {
  position: absolute;
  clip: rect(40px, 120px, 190px, 0px);
  background: whitesmoke;
  box-shadow: 0px 0px 3px 1px gray;

  margin-top: -40px;
  user-select: none;
  border-radius: 4%;
}

.winning-message {
  font-size: 100px;
  color: rgb(196, 196, 196);
  visibility: hidden;
}
